## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [21]:
import pandas as pd
import requests
url="https://rata.digitraffic.fi/api/v1/live-trains/station/HKI?arrived_trains=5&arriving_trains=10&departed_trains=5&departing_trains=10&include_nonstopping=false"
req = requests.get(url=url)
#print(req.status_code)
#print(req.json())
data=req.json()

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [41]:
df = pd.DataFrame(data)
df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,41,2022-05-15,10,vr,S,Long-distance,,True,False,282669976809,REGULAR,2022-02-18T09:41:38.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
1,8428,2022-05-15,10,vr,HL,Commuter,L,True,False,282669977735,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'KKN', 'stationUICCode':..."
2,8429,2022-05-15,10,vr,HL,Commuter,L,False,False,282667714727,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
3,8431,2022-05-15,10,vr,HL,Commuter,L,False,False,282659599010,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
4,8607,2022-05-15,10,vr,HL,Commuter,P,False,False,282669954439,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
5,8610,2022-05-15,10,vr,HL,Commuter,P,True,False,282669979194,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
6,8614,2022-05-15,10,vr,HL,Commuter,P,True,False,282669979194,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
7,8618,2022-05-15,10,vr,HL,Commuter,P,False,False,282650585631,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
8,8623,2022-05-15,10,vr,HL,Commuter,P,False,False,282662711051,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
9,8807,2022-05-15,10,vr,HL,Commuter,I,False,False,282669892786,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8810,2022-05-15,10,vr,HL,Commuter,I,True,False,282669978448,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
11,8813,2022-05-15,10,vr,HL,Commuter,I,True,False,282669978223,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8817,2022-05-15,10,vr,HL,Commuter,I,False,False,282669442375,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8821,2022-05-15,10,vr,HL,Commuter,I,False,False,282659677242,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,9023,2022-05-15,10,vr,HL,Commuter,K,True,False,282669979466,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,9033,2022-05-15,10,vr,HL,Commuter,K,False,False,282659072338,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,9340,2022-05-15,10,vr,HL,Commuter,K,False,False,282669896078,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
17,9342,2022-05-15,10,vr,HL,Commuter,K,True,False,282669979194,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
18,9344,2022-05-15,10,vr,HL,Commuter,K,False,False,282669455406,REGULAR,2021-11-05T10:07:11.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
19,9628,2022-05-15,10,vr,HL,Commuter,R,True,False,282669979466,REGULAR,2021-12-17T10:19:16.000Z,"[{'stationShortCode': 'RI', 'stationUICCode': ..."
20,9635,2022-05-15,10,vr,HL,Commuter,R,True,False,282669979194,REGULAR,2021-12-17T10:19:16.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
21,9641,2022-05-15,10,vr,HL,Commuter,R,False,False,282669933433,REGULAR,2021-12-17T10:19:16.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
22,9808,2022-05-15,10,vr,HL,Commuter,Z,False,False,282669948054,REGULAR,2021-12-17T10:19:16.000Z,"[{'stationShortCode': 'LH', 'stationUICCode': ..."
23,9821,2022-05-15,10,vr,HL,Commuter,Z,False,False,282659406187,REGULAR,2021-12-17T10:19:16.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
24,60023,2022-05-15,10,vr,SAA,Shunting,,False,False,282669937815,REGULAR,2022-02-18T09:41:38.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
25,60063,2022-05-15,10,vr,SAA,Shunting,,False,False,282669920171,REGULAR,2022-02-18T09:41:38.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
26,64060,2022-05-15,10,vr,W,Shunting,,False,False,282669907380,REGULAR,2022-02-18T09:41:38.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
27,65100,2022-05-15,10,vr,SAA,Shunting,,False,False,282669967963,ADHOC,2022-05-15T04:16:13.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
28,65101,2022-05-15,10,vr,SAA,Shunting,,False,False,282669967963,ADHOC,2022-05-15T04:14:59.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [42]:
#df.drop(["cancelled", "commuterLineID", "departureDate", "operatorShortCode", "operatorUICCode", "runningCurrently","timetableAcceptanceDate", "timetableType", "trainCategory", "trainType", "version"],inplace=True,axis=1)
df=df[['timeTableRows','trainNumber']]
df

    trainNumber                                      timeTableRows
0            41  [{'stationShortCode': 'HKI', 'stationUICCode':...
1          8428  [{'stationShortCode': 'KKN', 'stationUICCode':...
2          8429  [{'stationShortCode': 'HKI', 'stationUICCode':...
3          8431  [{'stationShortCode': 'HKI', 'stationUICCode':...
4          8607  [{'stationShortCode': 'HKI', 'stationUICCode':...
5          8610  [{'stationShortCode': 'HKI', 'stationUICCode':...
6          8614  [{'stationShortCode': 'HKI', 'stationUICCode':...
7          8618  [{'stationShortCode': 'HKI', 'stationUICCode':...
8          8623  [{'stationShortCode': 'HKI', 'stationUICCode':...
9          8807  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8810  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8813  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8817  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8821  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         9023  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         9033  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         9340  [{'stationShortCode': 'KE', 'stationUICCode': ...
17         9342  [{'stationShortCode': 'KE', 'stationUICCode': ...
18         9344  [{'stationShortCode': 'KE', 'stationUICCode': ...
19         9628  [{'stationShortCode': 'RI', 'stationUICCode': ...
20         9635  [{'stationShortCode': 'HKI', 'stationUICCode':...
21         9641  [{'stationShortCode': 'HKI', 'stationUICCode':...
22         9808  [{'stationShortCode': 'LH', 'stationUICCode': ...
23         9821  [{'stationShortCode': 'HKI', 'stationUICCode':...
24        60023  [{'stationShortCode': 'ILR', 'stationUICCode':...
25        60063  [{'stationShortCode': 'ILR', 'stationUICCode':...
26        64060  [{'stationShortCode': 'ILR', 'stationUICCode':...
27        65100  [{'stationShortCode': 'ILR', 'stationUICCode':...
28        65101  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [44]:
newdf = pd.DataFrame()

for i in range(len(df)) :
    trainNumber=df.loc[i, "trainNumber"]
    for row in df.loc[i, "timeTableRows"]:               
        row["trainNumber"]= trainNumber.astype(str)        
        newdf=newdf.append(row,ignore_index=True)
newdf

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainReady,trainNumber,estimateSource,liveEstimateTime
0,HKI,1.0,FI,DEPARTURE,1.0,1.0,7,0.0,2022-05-15T04:23:00.000Z,2022-05-15T04:23:05.000Z,0.0,[],"{'source': 'KUPLA', 'accepted': True, 'timesta...",41,NaN,NaN
1,PSL,10.0,FI,ARRIVAL,True,True,3,False,2022-05-15T04:28:00.000Z,2022-05-15T04:27:28.000Z,-1.0,[],NaN,41,NaN,NaN
2,PSL,10.0,FI,DEPARTURE,True,True,3,False,2022-05-15T04:29:00.000Z,NaN,0.0,[],NaN,41,COMBOCALC,2022-05-15T04:29:00.000Z
3,KÄP,977.0,FI,ARRIVAL,False,NaN,,False,2022-05-15T04:31:00.000Z,NaN,0.0,[],NaN,41,COMBOCALC,2022-05-15T04:31:00.000Z
4,KÄP,977.0,FI,DEPARTURE,False,NaN,,False,2022-05-15T04:31:00.000Z,NaN,0.0,[],NaN,41,COMBOCALC,2022-05-15T04:31:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351,HKI,1.0,FI,ARRIVAL,True,True,11,False,2022-05-15T04:58:35.000Z,NaN,NaN,[],NaN,65100,NaN,NaN
1352,HKI,1.0,FI,DEPARTURE,True,True,5,False,2022-05-15T05:05:38.000Z,NaN,NaN,[],NaN,65101,NaN,NaN
1353,PSL,10.0,FI,ARRIVAL,False,NaN,,False,2022-05-15T05:10:38.000Z,NaN,NaN,[],NaN,65101,NaN,NaN
1354,PSL,10.0,FI,DEPARTURE,False,NaN,,False,2022-05-15T05:10:38.000Z,NaN,NaN,[],NaN,65101,NaN,NaN
1355,ILR,1030.0,FI,ARRIVAL,True,True,775,False,2022-05-15T05:20:38.000Z,NaN,NaN,[],NaN,65101,NaN,NaN

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [45]:
try:
    newdf.drop(["causes", "estimateSource", "liveEstimateTime", "differenceInMinutes", "commercialStop","trainReady"],inplace=True,axis=1)
except:
    print("Already dropped")  
newdf

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1.0,FI,DEPARTURE,1.0,7,0.0,2022-05-15T04:23:00.000Z,2022-05-15T04:23:05.000Z,41
1,PSL,10.0,FI,ARRIVAL,True,3,False,2022-05-15T04:28:00.000Z,2022-05-15T04:27:28.000Z,41
2,PSL,10.0,FI,DEPARTURE,True,3,False,2022-05-15T04:29:00.000Z,NaN,41
3,KÄP,977.0,FI,ARRIVAL,False,,False,2022-05-15T04:31:00.000Z,NaN,41
4,KÄP,977.0,FI,DEPARTURE,False,,False,2022-05-15T04:31:00.000Z,NaN,41
...,...,...,...,...,...,...,...,...,...,...
1351,HKI,1.0,FI,ARRIVAL,True,11,False,2022-05-15T04:58:35.000Z,NaN,65100
1352,HKI,1.0,FI,DEPARTURE,True,5,False,2022-05-15T05:05:38.000Z,NaN,65101
1353,PSL,10.0,FI,ARRIVAL,False,,False,2022-05-15T05:10:38.000Z,NaN,65101
1354,PSL,10.0,FI,DEPARTURE,False,,False,2022-05-15T05:10:38.000Z,NaN,65101
1355,ILR,1030.0,FI,ARRIVAL,True,775,False,2022-05-15T05:20:38.000Z,NaN,65101

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [46]:
newdf.loc[(newdf['actualTime'].isnull()),'actualTime'] = newdf['scheduledTime']
newdf

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1.0,FI,DEPARTURE,1.0,7,0.0,2022-05-15T04:23:00.000Z,2022-05-15T04:23:05.000Z,41
1,PSL,10.0,FI,ARRIVAL,True,3,False,2022-05-15T04:28:00.000Z,2022-05-15T04:27:28.000Z,41
2,PSL,10.0,FI,DEPARTURE,True,3,False,2022-05-15T04:29:00.000Z,2022-05-15T04:29:00.000Z,41
3,KÄP,977.0,FI,ARRIVAL,False,,False,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
4,KÄP,977.0,FI,DEPARTURE,False,,False,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
...,...,...,...,...,...,...,...,...,...,...
1351,HKI,1.0,FI,ARRIVAL,True,11,False,2022-05-15T04:58:35.000Z,2022-05-15T04:58:35.000Z,65100
1352,HKI,1.0,FI,DEPARTURE,True,5,False,2022-05-15T05:05:38.000Z,2022-05-15T05:05:38.000Z,65101
1353,PSL,10.0,FI,ARRIVAL,False,,False,2022-05-15T05:10:38.000Z,2022-05-15T05:10:38.000Z,65101
1354,PSL,10.0,FI,DEPARTURE,False,,False,2022-05-15T05:10:38.000Z,2022-05-15T05:10:38.000Z,65101
1355,ILR,1030.0,FI,ARRIVAL,True,775,False,2022-05-15T05:20:38.000Z,2022-05-15T05:20:38.000Z,65101

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [48]:
import re
import pandas as pd

def readFile(file):
    with open(file, "r") as file:
        content = ""
        for readline in file: 
            line = readline.strip()
            content += line
        return content

def getTable(str):
    return re.search(r'<table>(.*?)</table>', str).group(1)
    
def getHeaders(str):

    startTag=re.search(r'<.*?>', str).group(0)    
    tag=[startTag,'</tr>']
    pattern=tag[0]+"(.*?)"+tag[1]
    str=re.search(pattern, table).group(1)
    headers=[]
    tag=['<th>','</th>']
    pattern=tag[0]+"(.*?)"+tag[1]

    while(str!=""):
        val=re.search(pattern, str).group(1)
        headers.append(val)
        str=str[len(val)+len(tag[0])+len(tag[1]):len(str)]
    return headers

def getRows(str):
    rows=[]
    
    while(str!=""):
        startTag=re.search(r'<.*?>', str).group(0)        
        tag=[startTag,'</tr>']
        pattern=tag[0]+"(.*?)"+tag[1]
        val=re.search(pattern, str).group(1)
        rows.append(val)
        str=str[len(val)+len(tag[0])+len(tag[1]):len(str)]    
    return rows

def getColumns(row):
    cols=[]
    tag=['<td>','</td>']
    pattern=tag[0]+"(.*?)"+tag[1]
    cols=re.findall(pattern, row)
    return cols

str=readFile("data.html")
table=getTable(str)
headers=getHeaders(table)

startTag=re.search(r'<.*?>', table).group(0)    
tag=[startTag,'</tr>']
pattern=tag[0]+"(.*?)"+tag[1]    
headerStr=re.search(pattern, table).group(1)
str=table[len(headerStr)+len(tag[0])+len(tag[1]):len(table)]
rows=getRows(str)

df2 = pd.DataFrame(columns=headers)
for row in rows:
    df2.loc[len(df2.index)] = getColumns(row)   
    
newdf = pd.concat([newdf, df2], axis=0).reset_index(drop=True)

newdf

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1.0,FI,DEPARTURE,1.0,7,0.0,2022-05-15T04:23:00.000Z,2022-05-15T04:23:05.000Z,41
1,PSL,10.0,FI,ARRIVAL,True,3,False,2022-05-15T04:28:00.000Z,2022-05-15T04:27:28.000Z,41
2,PSL,10.0,FI,DEPARTURE,True,3,False,2022-05-15T04:29:00.000Z,2022-05-15T04:29:00.000Z,41
3,KÄP,977.0,FI,ARRIVAL,False,,False,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
4,KÄP,977.0,FI,DEPARTURE,False,,False,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
...,...,...,...,...,...,...,...,...,...,...
1354,PSL,10.0,FI,DEPARTURE,False,,False,2022-05-15T05:10:38.000Z,2022-05-15T05:10:38.000Z,65101
1355,ILR,1030.0,FI,ARRIVAL,True,775,False,2022-05-15T05:20:38.000Z,2022-05-15T05:20:38.000Z,65101
1356,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1357,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1358,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337

## Vaihe 3
#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [51]:
import sqlite3
dbConn  = sqlite3.connect("trains.db")
newdf.to_sql(name="timetable", con=dbConn, if_exists='replace', index=False)
dbConn.commit()
dbConn.close()

In [52]:
# tsekataan, että taulu tallentui sqLite-tietokantaan
dbConn  = sqlite3.connect("trains.db")
query = '''SELECT * FROM timetable'''
df = pd.read_sql(query, dbConn)
df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1.0,FI,DEPARTURE,1.0,7,0.0,2022-05-15T04:23:00.000Z,2022-05-15T04:23:05.000Z,41
1,PSL,10.0,FI,ARRIVAL,1,3,0,2022-05-15T04:28:00.000Z,2022-05-15T04:27:28.000Z,41
2,PSL,10.0,FI,DEPARTURE,1,3,0,2022-05-15T04:29:00.000Z,2022-05-15T04:29:00.000Z,41
3,KÄP,977.0,FI,ARRIVAL,0,,0,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
4,KÄP,977.0,FI,DEPARTURE,0,,0,2022-05-15T04:31:00.000Z,2022-05-15T04:31:00.000Z,41
...,...,...,...,...,...,...,...,...,...,...
1354,PSL,10.0,FI,DEPARTURE,0,,0,2022-05-15T05:10:38.000Z,2022-05-15T05:10:38.000Z,65101
1355,ILR,1030.0,FI,ARRIVAL,1,775,0,2022-05-15T05:20:38.000Z,2022-05-15T05:20:38.000Z,65101
1356,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1357,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1358,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337