Päästöjen summaaminen
Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:

lataa datan DataFrameen url:sta, jossa erotinmerkkinä on tabulaattori ('\t'),
tallentaa DataFrameen sarakkeet 'main activity sector name', 'value' ja 'year',
poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
laskee uuteen DataFrameen kuinka paljon ovat kokonaispäästöt sektoreittain (summa sarakkeesta 'values', jotka on ryhmitelty sarakkeen 'main activity sector name' mukaan),
järjestää uuden DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
tulostaa viisi ensimmäistä riviä DataFramesta siten, että sarake 'main activity sector name' on nimetty sarakkeeksi 'sector',
huomaa, että sarake 'value' on ennen saraketta 'sector'.
Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Testi:

emissions("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv")

Tulos:

           value                               sector
1   1.273006e+10               20 Combustion of fuels
5   2.053915e+09  24  Production of pig iron or steel
10  1.803550e+09      29 Production of cement clinker
2   1.678130e+09          21  Refining of mineral oil
0   5.644274e+08                          10 Aviation

In [40]:
def emissions(url):
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url, sep='\t')
    
    sarake = 'country\tcountry_code\tETS information\tmain activity sector name\tunit\tvalue\tyear'
    df=df[sarake].str.split('\t', expand=True)

    cols = sarake.split('\t')
    df.columns =cols
    df=df[['main activity sector name','value','year']]
    
    tobedropped=['20-99 All stationary installations','21-99 All industrial installations (excl. combustion)']
    for i in range(len(tobedropped)):
        df.drop(df[df['main activity sector name']==tobedropped[i]].index, inplace = True)        
    
    tobedropped=['Total 1st trading period (05-07)','Total 2nd trading period (08-12)','Total 3rd trading period (13-20)']
    for i in range(len(tobedropped)):
        df.drop(df[df['year']== tobedropped[i]].index, inplace = True)
    
    
    df['year']=df['year'].fillna(0)    
    df['year']=df['year'].astype(int) #.astype(int)
        
    df['value']=df['value'].fillna(0)
    df['value']=df['value'].astype(float)
    
    df=df.loc[(df['year']>=2010) & (df['year']<=2015)] #[:5]
        
    df=df[['value','main activity sector name']]
    groups=df.groupby('main activity sector name',as_index=False)
    #df2=df.groupby('main activity sector name')['value'].sum()
    #df['value'] = df.groupby('main activity sector name')['value'].sum()
    
    df2 = pd.DataFrame(groups['value'].sum())
    #df2['main activity sector name'] = groups['main activity sector name']
    #df2 = pd.DataFrame(groups['value'].count())    
    
    df2=df2.sort_values(by='value',ascending=False)
    
    #df2.rename(columns = {'main activity sector name':'sector'}, inplace = True)
    df2.rename(columns = {'main activity sector name':'sector'}, inplace = True)
    tulos=df2[['value','sector']][:5]
    print(tulos)
    
            
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv"
emissions(url)

           value                               sector
1   1.273006e+10               20 Combustion of fuels
5   2.053915e+09  24  Production of pig iron or steel
10  1.803550e+09      29 Production of cement clinker
2   1.678130e+09          21  Refining of mineral oil
0   5.644274e+08                          10 Aviation