Autodatan yhdistäminen
Tee funktio autot(url1, url2), joka tekee järjestyksessä seuraavaa:

lataa datat DataFrameihin url1:sta ja url2:sta, joissa erotinmerkkinä on puolipiste (';'),
yhdistää uuteen DataFrameen autoihin liittyvät datat url1:stä ja url2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
tekee juuri yhdistetystä DataFramesta Serieksen, josta käy ilmi kuinka monta automerkkiä datassa on (automerkki on sarakkeessa 'Cn'),
tulostaa em. Serieksestä viisi eniten esiintyvää automerkkiä.
Tässä tehtävässä:

url1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv

Esimerkiksi:

Testi:

autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv")

Tulos:
OCTAVIA    396
FABIA      377
RAPID      197
SUPERB     159
KAROQ      148
Name: Cn, dtype: int64

In [7]:
def autot(url1, url2):
    import pandas as pd
    import numpy as np    
    df1 = pd.read_csv(url1,delimiter=";",decimal=",")   
    df2 = pd.read_csv(url2,delimiter=";",decimal=",")    
    df3 = df1.append(df2)
    
    tulos=df3['Cn'].value_counts(sort=True,ascending=False)[:5]        
    print(tulos)

url1='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv'
url2='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv'
autot(url1,url2)

OCTAVIA    396
FABIA      377
RAPID      197
SUPERB     159
KAROQ      148
Name: Cn, dtype: int64